<!-- header
    ================================================== -->
    <header class="s-header">

        <div class="row s-header__content">

            <div class="s-header__logo">
                <a class="logo" href="index.html">
                </a>
            </div>
            <nav class="s-header__nav-wrap">

                <h2 class="s-header__nav-heading h6">Navegacion De Sitio </h2>

                <ul class="s-header__nav">
                    <li><a href="/" title="">Página Principal</a></li>
                    <li class="current"><a href="/about" title="">Sobre Nosotros</a></li>
                    <li><a href="/contact" title="">Contacto</a></li>
                </ul> <!-- end header__nav -->

                <a  title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end header__nav-wrap -->
                   
            <a class="s-header__toggle-menu"  title="Menu"><span>Menu</span></a>
            
            
        </div> <!-- end s-header__content -->

    </header> <!-- end header -->

<section class="s-content">
  <div class="row">
      <div class="column large-12">

          <section style="overflow-x: hidden;">
              <div class="s-content__primary">

                  <h1 data-aos="zoom-out" data-aos-duration="700" class="s-content__title"><span>Sobre Nosotros</span></h1>	
                  <h6 data-aos="fade-right" data-aos-duration="700" data-aos-delay="500">Bienvenidos a Corazon De Colores.</h6>
                  <p data-aos="fade-in" data-aos-duration="700" data-aos-delay="1000" >Mi blog se centra principalmente en el arte. Específicamente, el arte callejero y la belleza del mismo. A medida que avanzamos en la vida, realmente no nos enfocamos en las cosas pequeñas. Por lo general, terminamos saltándonos ese mural o pintura al azar en la pared, sin prestarle atención. Sin embargo, detrás de ese mural hay una hermosa historia, una historia impactante.
                    Muchos de nosotros hemos progresado en la vida sin siquiera expresarnos. Estas personas detrás del arte no lo hicieron. Exploraremos el significado y la dedicación detrás de estas obras de arte, además de dar mi opinión personal.
                    Mi blog también se centrará en otras cosas. Mis pensamientos sobre la vida, mi propia progresión personal a través de ella, orientación espiritual, la política, la televisión, etc. </p>
                   <h5 data-aos="fade-left" data-aos-duration="700">Esto es Corazon De Colores</h5>

              </div> <!-- end s-content__primary -->

          </section>

      </div> <!-- end column -->
  </div> <!-- end row -->
</section> <!-- end s-content -->

<app-footer></app-footer>