<header class="s-header">

  <div class="row s-header__content">

      <nav class="s-header__nav-wrap">

          <h2 class="s-header__nav-heading h6">Navegacion De Sitio </h2>

          <ul class="s-header__nav">
              <li><a href="/" title="">Página Principal</a></li>
              <li class="has-children">
                <a style="color: rgba(0, 0, 0, 0.5);" title="">Categorías</a>
                <ul class="sub-menu">
                    <li *ngFor="let category of categories">
                        <a href="/category/{{category._uid}}">{{category.Name}}</a>
                    </li>
                </ul>
            </li>
              <li><a href="/about" title="">Sobre Nosotros</a></li>
              <li class="current"><a href="/contact" title="">Contacto</a></li>
          </ul> <!-- end header__nav -->

          <a  title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a>

      </nav> <!-- end header__nav-wrap -->
             
      <a class="s-header__toggle-menu"  title="Menu"><span>Menu</span></a>
      
      
  </div> <!-- end s-header__content -->

</header> <!-- end header -->

<section class="s-content site-page" style="overflow-x: hidden;">
  <div class="row">
      <div class="column large-12">

          <section>

              <div class="s-content__primary">

                  <h1 data-aos="fade-down"  data-aos-duration="700" class="s-content__title">Póngase En Contacto Con Nosotros.</h1>	
                  <form id="cForm" class="s-content__form" [formGroup]='contactForm' name="contact" id='contact-form' method="post" (ngSubmit)="onSubmit()">
                      <fieldset>

                          <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="700" class="form-field">
                              <input name="name" type="text" id="cName" formControlName="name" class="h-full-width" placeholder="Tu nombre" value="" required>
                          </div>

                          <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="700" class="form-field">
                              <input name="email" type="text" formControlName="email" id="cEmail" class="h-full-width" placeholder="Tu Email" value="" required>
                          </div>

                          <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="700" class="message form-field">
                              <textarea name="message" formControlName="message" id="cMessage" class="h-full-width" placeholder="Tu Mensaje" required></textarea>
                          </div>

                          <button data-aos="fade-up" data-aos-duration="700" type="submit" class="submit btn btn--primary btn--medium h-full-width">Enviar</button>

                      </fieldset>
                 </form> <!-- end form -->

              </div> <!-- end s-content__primary -->

          </section>

      </div> <!-- end column -->
  </div> <!-- end row -->
</section> <!-- end s-content -->
<app-footer></app-footer>