<footer class="s-footer">

  <div class="s-footer__main">

      <div class="row">

          <div class="column large-4 medium-6 tab-12 s-footer__info">

              <h5>Acerca De Nuestro Sitio</h5>

              <p>
                El corazón es un canal de emociones  que reflejan  colores y formas que dejan
                  plasmadas manos sensibles que se dejan llevar por ese corazón y podemos disfrutar en nuestras calles!
              </p>

          </div> <!-- end s-footer__info -->

          <div class="column large-2 medium-3 tab-6 s-footer__site-links">

              <h5>Enlaces Del Sitio
            </h5>

              <ul>
                  <li><a href="/about">Sobre Nosotros</a></li>
                  <li><a href="https://www.termsfeed.com/live/08d592ea-7910-4121-9b52-3597a5fdb72a">
                    Términos y Condiciones</a></li>
                  <li><a href="https://www.privacypolicygenerator.info/live.php?token=jITFh5JpLLXl29y8V3H4EWdkzpjU7IyC">Política De Privacidad
                  </a></li>
              </ul>

          </div> <!-- end s-footer__site-links -->   

          <div class="column large-4 medium-12 s-footer__subscribe">

              <h5>Suscribir</h5>

              <p>Manténgase actualizado. Suscríbete a nuestro boletín.
            </p>

              <div class="subscribe-form">
          
                  <form action="https://gmail.us7.list-manage.com/subscribe/post?u=bbe753b4296501b5c33e53038&amp;id=c63e07e112" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" id="mc-form" class="group">

                      <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Escriba &amp; presione enter" required=""> 
          
                      <input type="submit" name="subscribe" value="Enviar">
                    
                  </form>

              </div>

          </div> <!-- end s-footer__subscribe -->

      </div> <!-- end row -->

  </div> <!-- end s-footer__main -->

</footer> <!-- end s-footer -->
