ngb-carousel{
  outline: none;
}
@media only screen and (min-width: 700px) {
  img {
    height: 80vh;
  }
}
.picsum-img-wrapper img{
  width: 100%;
  margin: 0;
}
h3{
  color: white;
}
p{
  font-size: .7em;
}
